
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Tipperary County Council</title>

    <!-- Bootstrap core CSS -->

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">	
	<link href="css/style.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->

  </head>
<!-- NAVBAR
================================================== -->
  <body>
  
  <div class="row"><div class="container" style="background: #fff; padding-top:10px">
  <div class="col-md-7" style="margin-left: -40px; margin-bottom: -18px; position: relative; z-index: 3"><img src="/sites/default/files/img/logo.png"></div>
  
   <div class="col-md-4 pull-right" style="padding-right: 0;">
   <div class="col-md-12" style="padding:0">
   <div class="row"><div class="col-md-12" style="padding:0"><div class="col-md-1" style="padding:0"><img src="/sites/default/files/img/lo.png"></div><div class="col-md-11"  style="padding:0; font-size: 12px">Civic Offices, Clonmel | Civic Offices, Nenagh, Co. Tipperary<br>Opening Times: 9.30- 5.30, Mon-Fri</div></div></div>
   <div class="row" style="margin-top: 15px;"><div class="col-md-6" style="padding:0"><div class="col-md-2" style="padding:0"><img src="/sites/default/files/img/ph.png"></div><div class="col-md-10"  style="padding:0; font-size: 12px">0761 065000<br>Out of Hours: 1890 923 948</div></div><div class="col-md-6" style="padding-left:10px; padding-right: 0"><div class="col-md-2" style="padding:0"><img src="/sites/default/files/img/ma.png"></div><div class="col-md-10" style="padding:0; font-size: 12px">info@tipperarycoco.ie</div></div></div>
   
   
   </div>
  </div></div>
  
  
    

    <!-- Carousel
    ================================================== -->
   <div class="row" style="background: #4d4d4f"><div class="container" style="position:relative">
   <div class="inner-menu">
   
   <section class="iwt1 iwt_inner"><div class="row col-md-12" style="padding-top: 10px;">
<div class="col-md-3"><span></span></div>
<div class="col-md-9" style="padding-top: 10px; color: #11455B">
<form>
<input type="text" name="search">
</form>
<H2 style="margin-top:10px; text-align: left; color: #fff;">Find it</H2></div>
</div></section>
   
   <section style="cursor:pointer;" onclick="location.href='/payforit.html'" class="iwt2 iwt_inner"><div class="row col-md-12" style="padding-top: 5px;">
<div class="col-md-3"><span></span></div>
<div class="col-md-9" style="padding-top: 10px; color: #11455B">
<H2 style="margin-top:10px; text-align: left; color: #fff;">Pay for it</H2></div>
</div></section>

   <section style="cursor:pointer;" onclick="location.href='/payforit.html'" class="iwt3 iwt_inner"><div class="row col-md-12" style="padding-top: 5px;">
<div class="col-md-3"><span></span></div>
<div class="col-md-9" style="padding-top: 10px; color: #11455B">
<H2 style="margin-top:10px; text-align: left; color: #fff;">Download it</H2></div>
</div></section>

   <section style="cursor:pointer;" onclick="location.href='/payforit.html'" class="iwt4 iwt_inner"><div class="row col-md-12" style="padding-top: 5px;">
<div class="col-md-3"><span></span></div>
<div class="col-md-9" style="padding-top: 10px; color: #11455B">
<H2 style="margin-top:10px; text-align: left; color: #fff;">Apply for it</H2></div>
</div></section>
   
   </div>
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="slide1 item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Tipperary Together</h1>
              <p>A new Local Authority, combining the best of North and South.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">More Information</a></p>
            </div>
          </div>
        </div>
        <div class="slide2 item">
          <div class="container">
            <div class="carousel-caption">
              <h1>One County</h1>
              <p>With a population of 160,000 people and 1,661 square miles, Tipperary is the 6th largest County.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="slide3 item">
         <div class="container">
            <div class="carousel-caption">
              <h1>One Community</h1>
              <p>Building on our bond with Local Communities, we are dedicated to build a stronger Tipperary for the future.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Read More</a></p>
            </div>
          </div>
        </div>
      </div>
      
    </div></div></div><!-- /.carousel -->

 <div class="row"><div class="navbar-wrapper" style="background: #152634">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">Services</a></li>
                <li><a href="#contact">Your Council</a></li>
				<li><a href="#contact">News</a></li>
				<li><a href="#contact">FAQs</a></li>
				<li><a href="#contact">Publications</a></li>
				<li><a href="#contact">Forms</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Municipal Districts <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Nenagh</a></li>
                    <li><a href="#">Clonmel</a></li>
                    <li><a href="#">Templemore-Thurles</a></li>
					<li><a href="#">Cashel-Tipperary</a></li>
					<li><a href="#">Carrick-on-Suir</a></li>
                  </ul>
                </li>
              </ul>
            <div class="col-md-2 pull-right">
		<ul class="social"><li><a href="#"><img src="/sites/default/files/img/fb.png"></a></li>
		<li><a href="#"><img src="/sites/default/files/img/tw.png"></a></li>
		<li><a href="#"><img src="/sites/default/files/img/rs.png"></a></li></ul></div></div>
          </div>
        </div>
		
		</div>

      </div>
    </div>



    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
	<script type="text/javascript">
	$("section").click(function(){
   window.location=$(this).find("a").attr("href"); return false;
});
</script>
  </body>
</html>
