body{
margin:0;
padding-top: 0px;
font-family: "Open sans",arial,san-serif;
font-size:14px;
line-height:20px;
color:#444444;
background-color:#f0f0f0;
}

h3 {
display: block;
font-size: 1.17em;
font-weight: bold;
color: #434344;
}
h1 {
font-size: 16px;
}

#dummybodyid{
background: #f0f0f0;
padding-top: 0px;
}

#block-views-i-want-to-block{
background: #e5e5e5;
margin-top: 0px;}


#block-views-i-want-to-block h2.block-title{
margin-top: 0px;
background-color: #808080;}
#block-views-i-want-to-block h2.block-title1{
margin-top: 0px;
background-color: #434344;
color: #fff;
font-weight: normal;
text-transform: capitalize;
padding: 3px;
}


.field-type-image .field-item {
display: inline-block;
padding: 5px;
}

.group-maps {
background: #f2f2f2;
margin-bottom: 15px;
}
.view-grouping-header {
color: #434344;
font-weight: bold;}
.view-grouping-content .view-grouping .view-grouping-header {
color: #9E9E8A;
padding-left: 10px;
font-weight: normal;}
.views-exposed-widget .description {
background-color: white;
border-bottom: 0px;
margin-top: 0px;
padding: 0px;
font-size: 12px;}
.focus {
padding: 5px;
background: #f2f2f2;
font-style: italic;}
.field-name-field-area {
background: #f2f2f2;
padding-left: 3px;
}
.field-name-field-area .field-item {
padding-left: 18px;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/dataicon.png');
background-repeat: no-repeat;
background-position: center left;}

.spacer {
padding-top: 13px;}
li.want-items{
list-style-image:url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/doublearrow.png');
}
li.want-items a{
color: #2c2c2c;
font-weight: normal;
}
li.want-items a:hover{
color: #000;
font-weight: normal;
}
.csd {
background-color: #B8CD34;
position: relative; bottom: 0; left: 10;
margin-top: 8px;
}
.csdlink a {
color: #2c2c2c;}
.csdlink a:hover {
color: #2c2c2c;}
.csdborder{
border-right: 1px solid #434344;}
.view-footer{
padding: 5px 0px 5px 10px;}

.breadcrumb { 
background-color: #434344;
padding: 8px 15px;
margin: 0 0 0px;
list-style: none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color: #fff;
}
ul.inline {
float: right;
}

.breadcrumb a { 
color: white;
font-weight: normal;
}
.breadcrumb>li {
display: inline-block;
text-shadow: 0 0px 0 #ffffff;}

a.facebook {
padding-left: 30px;
padding-top: 5px;
padding-bottom: 5px;
background-image: url("http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/facebook_icon.png");
background-repeat: no-repeat;
background-position: center left;}

a.flickr {
padding-left: 30px;
padding-top: 5px;
padding-bottom: 5px;
background-image: url("http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/flickr_icon.png");
background-repeat: no-repeat;
background-position: center left;}

a.picasaweb {
padding-left: 30px;
padding-top: 5px;
padding-bottom: 5px;
background-image: url("http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/picasa_icon.png");
background-repeat: no-repeat;
background-position: center left;}

a.slideshare {
padding-left: 30px;
padding-top: 5px;
padding-bottom: 5px;
background-image: url("http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/slideshare_icon.png");
background-repeat: no-repeat;
background-position: center left;}

a.twitter {
padding-left: 30px;
padding-top: 5px;
padding-bottom: 5px;
background-image: url("http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/twitter_icon.png");
background-repeat: no-repeat;
background-position: center left;}

a.vimeo {
padding-left: 30px;
padding-top: 5px;
padding-bottom: 5px;
background-image: url("http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/vimeo_icon.png");
background-repeat: no-repeat;
background-position: center left;}

.footerall {
margin-top: 0px;
padding: 10px 30px 0px 30px;
border-top: 0px solid #e5e5e5;
background-color: #2b2b2b;
color: white;
}

.footerall a {
display: block;
color: white;
}

.footerbg {
background-color: #434344;
color: white;
}

.footerbg a {
display: block;
color: white;
}

.leaf>a:hover {
color: #B8CD34;
background-color: #B8F16C;
}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #000;
}
.navbar .nav>li>a:hover {
color: #fff;}

.group-right {
float: right;
vertical-align: top;
line-height:157%;
display: inline;
}
.ds-2col-stacked-fluid > .group-left {
float: left;
width: 20%;
}
.ds-2col-stacked-fluid > .group-right {
float: right;
width: 80%;
}
.group-left {
float: left;
vertical-align: top;
line-height:157%;
display: inline;
}
.field-name-body {
background: #fff;
padding: 3px;}


.field-name-field-section-header{
font-size: 23px;
padding-top: 3px;
padding-bottom: 12px;
}

.field-name-field-cathaoirleach{
padding-left: 8px;
padding-right: 8px;
}
.field-name-field-county-manager{
padding-left: 8px;
padding-right: 8px;
}
.field-name-field-contact-name{
padding-left: 8px;
padding-right: 8px;
}
.field-name-field-address{
padding-left: 8px;
padding-right: 8px;
}
.field-name-field-telephone{
padding-left: 8px;
padding-right: 8px;
}
.field-name-field-email{
padding-left: 8px;
padding-right: 8px;
}
.field-name-field-our-goals{
padding-left: 8px;
padding-right: 8px;
}

h3.section-header-title {
background-color: #808080;
margin-top: 0px;
padding-top: 4px;
padding-left: 6px;
padding-bottom: 4px;
border-bottom: 1px solid #434344;
color: #fff;
text-transform:uppercase;
}

.rounded-corner .t-edge,
.rounded-corner .b-edge,
.rounded-corner .l-edge,
.rounded-corner .r-edge {
background-image: none;
}

.rounded-corner .wrap-corner .l, 
.rounded-corner .wrap-corner .r {
background-image: none;
}

.breadcrumb {
-webkit-border-radius: 0px;
border-radius: 0px;
}

.cashelbginner {
background-color: transparent;
background-image: url("http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/bgimage_inner.jpg");
background-repeat: no-repeat;
background-position: top left;
margin-top: 20px;
width: 100%;
border: 0px solid;
}

.crest{
padding: 40px;
}

.block-title{
background-color: #B8CD34;
border-bottom: 1px solid #434344;
font-size: 16px;
font-weight: normal;
text-transform: normal;
padding: 6px;
}
.view-news-events {
background-color: #E5E5E5;
padding: 22px;
margin-bottom: 3px;}


.block h2.block-title {
margin-bottom: 0px;
margin-top: 3px;
color: #fff;
text-transform: capitalize;}


.formforstyle {
background-color: transparent;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/formicon.png');
background-repeat: no-repeat;
background-position: top left;}

.formforstyle a:hover{
text-decoration:none;
}

.views-field-field-publication-upload-1 {
background-color: transparent;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: top left;}
.views-field-field-publication-upload-1 a:hover{
text-decoration:none;}
.views-field-field-publication-upload-2 a:hover{
text-decoration:none;}
.views-field-field-publication-upload-3 a:hover{
text-decoration:none;}
.views-field-field-publication-upload-4 a:hover{
text-decoration:none;}
.views-field-field-publication-upload-5 a:hover{
text-decoration:none;}

.views-field-field-publication-upload-2{
background-color: transparent;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: top left;}
.views-field-field-publication-upload-3 {
background-color: transparent;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: top left;}
.views-field-field-publication-upload-4 {
background-color: transparent;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: top left;}
.views-field-field-publication-upload-5 {
background-color: transparent;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: top left;}
.field-items.file {
background-color: transparent;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: top left;}

h3
 {
background: #fff;
padding: 3px;}

.views-field-field-link-to-maps{
background-color: transparent;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/mapicon.png');
background-repeat: no-repeat;
background-position: top left;}
.views-field-field-link-to-maps a{
padding-left: 20px;}
.views-field-field-link-to-map-2{
background-color: transparent;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/mapicon.png');
background-repeat: no-repeat;
background-position: top left;}
.views-field-field-link-to-map-2 a{
padding-left: 20px;}
.views-field-field-link-to-map-3{
background-color: transparent;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/mapicon.png');
background-repeat: no-repeat;
background-position: top left;}
.views-field-field-link-to-map-3 a{
padding-left: 20px;}

.page-header {
margin-top: 0px;
padding-top: 4px;
padding-left: 6px;
padding-bottom: 4px;
color: #737375;
text-transform: uppercase;
}

li.pubs {
line-height: 20px;
list-style-image:url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
}

.bulletpt {
padding-left: 18px;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/dataicon2.png');
background-repeat: no-repeat;
background-position: top left;
}
.bulletpt a {
color: #000;
text-decoration: none;
font-weight: normal;}

.bulletpt a:hover {
color: #005580;
text-decoration: none;
font-weight: normal;}


li.bullet {
line-height: 20px;
list-style-image:url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/dataicon.png');}

li.bullet a:hover {
color: #005580;
text-decoration: none;
font-weight: normal;}


li.publications {
line-height: 20px;
list-style-image:url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
}

li.publications a:hover {
color: #005580;
text-decoration: none;
font-weight: normal;}


li.forms-icon {
line-height: 20px;
list-style-image:url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/forms_icon.png');
}

li.forms-icon a:hover {
color: #005580;
text-decoration: none;
font-weight: normal;}

li.newsevents {
line-height: 20px;
font-size: 15px;
list-style-image:url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/newsicon.png');
padding-bottom: 6px;
}

li.newsevents a{
color: #000;}

li.newsevents a:hover{
color: #005580;
text-decoration: none;
font-weight: normal;}

.pane-news-events h2 {
padding: 18px 18px 18px 65px;
font-size: 16px;
background-image: url("http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/newsevents.jpg");
background-repeat: no-repeat;
background-position: top left;
color: #fff;}

.view-related-maps {
background-image: url("http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/map_bg.jpg");
padding: 15px;}

.mapitem {
background-image: url("http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/mapicon.png");
background-repeat: no-repeat;
background-position: center left;
border-left: 4px solid transparent;
background-color: #E5E5E5;
color: #000000;
}
.mapitem a{
color:#000;
padding-left: 20px;}
.mapitem a:hover{
text-decoration: none;
color:#4E558C;}

.view-planninglists h2 {
font-size: 10px;
font-weight: normal;
color: #000;
line-height: 20px;
padding: 2px;}

ul.planninglists {
line-height: 20px;
list-style-image:url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/dataicon1.png');
}

h2{
font-size: 16px;
text-transform:uppercase;
color: #737375;
}

.ds-2col-stacked{
background-color: #fff;
}
.ds-2col-stacked > .group-left {
float: left;
width: 20%;
}
.ds-2col-stacked > .group-right {
float: right;
width: 80%;
}
.readmore{
padding-bottom: 2px;
padding-top: 2px;
border-bottom: 1px solid #000;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/more_icon.png');
background-repeat: no-repeat;
background-position: center right;
padding-right: 18px;
text-align:right;
background-color: #f2f2f2;
}
.field-name-field-publication-upload-1{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
margin-top: 3px;
}
.field-name-field-publication-upload-2{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-publication-upload-3{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-publication-upload-4{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-publication-upload-5{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}

.field-name-field-publication-6{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-publication-7{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-publication-8{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-publication-9{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-publication-10{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-file-upload {
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/forms_icon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-form-upload-2 {
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/forms_icon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-form-upload-3 {
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/forms_icon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-form-upload-4 {
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/forms_icon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-form-upload-5 {
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/forms_icon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-form-6 {
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/forms_icon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-form-7 {
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/forms_icon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-form-8 {
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/forms_icon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-form-9 {
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/forms_icon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}
.field-name-field-form-10 {
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/forms_icon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;
}

.group-publications.field-group-div{
background: #F2F2F2;}
.group-forms.field-group-div{
background: #f2f2f2;
border-bottom: 0px solid #000;
}
.field-name-field-category{
background: #f2f2f2;
padding-left: 3px;}
.field-name-field-category a{
padding-left:18px;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/dataicon.png');
background-repeat: no-repeat;
background-position: center left;}

.pane-housing-loans-grants{
background: #f2f2f2;
padding: 5px;}

.pane-planning-permission{
background: #f2f2f2;
padding: 5px;}
.field-name-field-link-to-maps{
padding-left:18px;
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/mapicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;}
.group-maps{
background: #f2f2f2;}

.panels-flexible-row-5-main-row {
background: #f2f2f2;
padding: 5px;
}

#node_planning_lists_full_group_lists{
background: #f2f2f2;}

.field-name-field-granted{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;}
.field-name-field-received{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;}
.field-name-field-refused{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;}
.field-name-field-invalid{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;}
.field-name-field-further-information{
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/pubsicon.png');
background-repeat: no-repeat;
background-position: center left;
margin-left: 3px;}


.pane-title {
background-image: url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/header_icon.png');
background-repeat: no-repeat;
background-position: top left;
padding-left: 21px;}

.description {
color: #434344;
font-size: 13px;
font-weight: bold;
padding: 3px;
border-bottom: 1px solid #000;
background-color: #e5e5e5;
margin-top: 2px;}

.panels-flexible-column-inside {
padding-left:0px;
padding-right:0px;}

.left-margin {
padding-left: 8px;}

.pagination-centered {
text-align: center;
width: 100%;
border-bottom: 1px solid #000;
background-color: #444;
}

.pagination {
margin: 20px 0 0 0;
padding: 0px;
}
.pagination ul {
display: inline-block;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
margin-bottom: -4px;
border-left: 0;
border-right: 0;
width: auto;
}

.pagination ul>li {
display: inline;
}


.pagination ul>li>a, .pagination ul>li>span {
line-height: 20px;
text-decoration: none;
background-color: transparent;
border: 0px solid #434344;
border-left: 0px;
color: #fff;}

.pagination ul>li>a, .pagination ul>li>span {
float: left;
padding: 4px 12px;
border-left-width: 0;
border-right-width: 0;}

.pagination ul>li:first-child>a, .pagination ul>li:first-child>span {
border-left-width: 1px;
-webkit-border-top-left-radius: 0px;
-moz-border-radius-topleft: 0px;
border-top-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-radius-bottomleft: 0px;
border-bottom-left-radius: 0px;
}
.pagination ul>li:last-child>a, .pagination ul>li:last-child>span {
-webkit-border-top-right-radius: 0px;
-moz-border-radius-topright: 0px;
border-top-right-radius: 0px;
-webkit-border-bottom-right-radius: 0px;
-moz-border-radius-bottomright: 0px;
border-bottom-right-radius: 0px;
}

.pagination ul>.active>a, .pagination ul>.active>span {
color: #fff;
background-color: #B8CD34;
cursor: default;
}
.pagination ul>li>a:hover{
background-color: #808080;
color: #fff;}
.pagination ul>li>a:focus{
background-color: #000;}

.applyheader img{
width: 100%;
}

.payheader img{
width: 100%;
}

.downloadheader img{
width: 100%;
}

.findheader img{
width: 100%;
}

.arrow_box {
	height: auto;
	max-width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	margin-left: 0px;
	margin-bottom: 10px;
	position: relative;
	background: #8EC63F;
	border: 4px solid #8EC63F;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #8EC63F;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #8EC63F;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}

.arrow_box1 {
	height: auto;
	max-width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	margin-left: 0px;
	margin-bottom: 10px;
	position: relative;
	background: #006599;
	border: 4px solid #006599;
}
.arrow_box1:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box1:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #006599;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}
.arrow_box1:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #006599;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}

.arrow_box2 {
	height: auto;
	max-width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	margin-left: 0px;
	margin-bottom: 10px;
	position: relative;
	background: #D4D00D;
	border: 4px solid #D4D00D;
}
.arrow_box2:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box2:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #D4D00D;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}
.arrow_box2:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #D4D00D;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}

.arrow_box3 {
	height: auto;
	max-width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	margin-left: 0px;
	margin-bottom: 10px;
	position: relative;
	background: #0193CF;
	border: 4px solid #0193CF;
}
.arrow_box3:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box3:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #0193CF;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}
.arrow_box3:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #0193CF;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}

.region-frontcontent1 a{
color: #000000;
}

.region-frontcontent2 a{
color: #000000;
}

.region-frontcontent3 a{
color: #000000;
}

.region-frontcontent4 a{
color: #000000;
}

.frontpagenews>.newsevents{
border-bottom: 1px solid #3B3F40;
}

.navbar{
overflow:visible;
margin-bottom:20px;*position:relative;*z-index:2;
}

.navbar-inner{
min-height:40px;
padding-left:20px;
padding-right:20px;
background-color:#3B3F40;
background-image:-moz-linear-gradient(top, #3B3F40, #3B3F40);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#3B3F40), to(#3B3F40));
background-image:-webkit-linear-gradient(top, #3B3F40, #3B3F40);
background-image:-o-linear-gradient(top, #3B3F40, #3B3F40);
background-image:linear-gradient(to bottom, #3B3F40, #3B3F40);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3B3F40', endColorstr='#3B3F40', GradientType=0);
border:1px solid #fff;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);*zoom:1;}

.navbar-inner:before,.navbar-inner:after
{display:table;content:"";line-height:0;
}

.navbar .nav>li>a{
float:none;
padding:10px 15px 10px;
color:#CDCDCD;
text-decoration:none;
text-shadow:0 0px 0 #ffffff;
}

span.ctype-News_General {
padding-left: 24px;}

.view-news-events a{
color: #000;}
.view-news-events a:hover {
color: #005580;
text-decoration: none;}

.ctype-News_General {
background-image:url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/gnewsicon.png');
background-repeat: no-repeat;
background-position: center left;}

span.ctype-Alert {
padding-left: 24px;}
.ctype-Alert {
background-image:url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/alerts_icon.png');
background-repeat: no-repeat;
background-position: center left;
}

.ctype-Event{
background-image:url('http://www.tipperarycocostage.ie/sites/default/files/styles/large/public/img/eventicon.png');
background-repeat: no-repeat;
background-position: center left;}

span.ctype-Event {
padding-left: 24px;}

a.services { color: #000000/*{fcDefault}*/; text-decoration: none; }

.mapblock {
background-color: #E5E5E5;
color: #000000;
padding-left: 20px;
}

.mapblock a {
color: #000000;
text-decoration: none;
font-weight: normal;
}









